.p-button {
  font-family: $fontFamily;
  font-size: 0.75rem;
  line-height: 1em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 8px 20px;
  min-height: 40px;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  border-radius: $radius-base;
  font-weight: bold;

  &.btn-text {
    border-color: transparent !important;
    background-color: transparent !important;
    color: $white;
    backdrop-filter: none;
    padding: 0;
    min-height: unset;
    &:hover, &:active, &:focus {
      background-color: transparent !important;
    }
  }

  &.btn-primary {
    background-color: rgba($colorPrimary, 0.1);
    border: 1px solid rgba($colorPrimary, 0.05);
    color: $colorPrimary;
    fill: $colorPrimary;
    stroke:  $colorPrimary;
    &:hover {
      background-color: rgba($colorPrimary, 0.2);
    }
  }

  &.btn-light {
    background-color: rgba($white, 0.05);
    border: 1px solid rgba($white, 0.1);
    color: $white;
    fill: $white;
    &:hover {
      background-color: rgba($white, 0.1);
    }
  }

  &.btn-light-stroke {
    background-color: transparent;
    border: 1px solid rgba($white, 0.1);
    color: $white;
    fill: $white;
  }

  &.btn-small {
    padding: 8px 12px;
    min-height: 32px;
  }

  &.btn-block {
    width: 100%;
  }
}
.p-button-icon-right:before {
  order: 1;
  font-size: 11px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.6em;
  box-sizing: border-box;
}
.btn-text .p-button-icon-right:before {
  background-color: rgba($white, 0.05);
  border: 1px solid rgba($white, 0.1);
}
.btn-primary .p-button-icon-right:before {
  background-color: rgba($colorPrimary, 0.05);
  border: 1px solid rgba($colorPrimary, 0.1);
}

.p-button[disabled] {
  .p-button-label {
    opacity: 0.5
  }
  .p-button-icon-right:before {
    opacity: 0.5;
  }
}
.p-buttonset {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

.toggle-view {
  background-color: rgba($white, 0.1);
  border-radius: $radius-base;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  flex-grow: 0;

  .p-button {
    padding: 8px 24px;
    border-radius: $radius-base !important;
    > .icon {
      opacity: 0.5;
    }
    &.p-highlight {
      background-color: rgba($white, 0.1);
      > .icon {
        opacity: 1;
      }
    }
  }
}

.btn-select {
  @extend %label-bg;
  display: inline-flex;
  border: $border-light;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  .p-button {
    padding: 15px 20px 15px 24px;
    +.p-button {
      border-left: $border-light;
    }
  }
  .p-button-label {
    opacity: 0.5;
  }
  .p-highlight .p-button-label,
  .p-button-label:hover {
    opacity: 1;
  }
}
