.card {
  @extend %card-bg;
  border: $border-light;

  .card-header {
    @extend %card-px;
  }
  .card-accent-line {
    @extend %card-px;
    border-top: $border-light;
    border-bottom: $border-light;
    background-color: $bg-light;

    +.panel-content {
      border-top: none;
    }
  }
  .card-body {
    @extend %card-px;
  }
  .card-footer {
    @extend %card-px;
    border-top: $border-light;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}

.card.mobile {
  .card-header,
  .card-accent-line,
  .card-body,
  .card-footer {
    @extend %card-mobile-px;
  }
}
