
// OverlayPanel

.p-overlaypanel {
  transform: translateY(10px);
}

.wallet-panel-container {
  font-size: 12px;
  line-height: 1.3em;
  background: rgba($white, 0.03);
  border: 1px solid rgba($white, 0.05);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  border-radius: 0 0 $radius-base $radius-base;
  padding: 16px 20px;
  min-width: 140px;
}
