@import 'variables';
@import 'overlaypanel';
@import 'buttons';
@import 'card';
@import 'switch';
@import 'forms';
@import 'node_modules/primeflex/src/variables';
@import 'node_modules/primeflex/src/grid';
@import 'node_modules/primeflex/src/formlayout';
@import 'node_modules/primeflex/src/display';
@import 'node_modules/primeflex/src/text';
@import 'node_modules/primeflex/src/flexbox/flexbox';
@import 'node_modules/primeflex/src/spacing';
@import 'node_modules/primeflex/src/elevation';
@import "modal";

html {
  font-size: 16px;
  line-height: 1.1em;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.02em;
  background-color: $bgColor;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @media (min-width: $screen-md-min) {
    background-image: url("/images/bg.png");
  }
  @media (max-width: $screen-sm-max) {
    background-image: url("/images/bg-mobile.png");
  }
}

html, body {
  font-family: $font-family-base;
  color: $textColor;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.text-body {
  line-height: 1.5em;
  font-weight: 300;
}
.text-small-base, .text-small {
  font-size: $font-size-small;
  line-height: 1.5em;
}
.text-smallest  {
  font-size: $font-size-smallest;
  line-height: 1.3em;
}
.text-primary {
  color: $colorPrimary;
}
*:focus, *:active {
  outline: none !important;
}

.text-link {
  font-size: $font-size-smallest;
  opacity: 50%;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    opacity: 1;
  }
}
h1, .h1 {
  font-weight: $headingFontWeight;
  font-size: 2.25rem;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: -0.02em;
  text-shadow: $textShadowBase;
}

h2, .h2 {
  font-weight: $headingFontWeight;
  font-size: 28px;
  line-height: 1.17em;
  text-align: left;
  letter-spacing: -0.02em;
  text-shadow: $textShadowBase;
}

h3, .h3 {
  font-weight: $headingFontWeight;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

h5, .h5 {
  font-weight: $headingFontWeight;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.headline {
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.main-container-mobile {
  .h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }
}
.clickable, *[clickable] {
  cursor: pointer;
}
.icon-small {
  width: 14px;
}
.icon-primary {
  color: $colorPrimary;
  svg * {
    fill: $colorPrimary !important;
  }
}
.muted {
  opacity: 0.5;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%
}
.fx-grow {
  flex-grow: 1;
}
//milestone list
.milestone-list-item {
  .milestone { width: 260px; }
  .state { width: 65px; }
  .predictors { width: 70px; }
  .action { width: 145px; }
}

