@import 'variables';
@import 'overlaypanel';
@import 'buttons';
@import 'node_modules/primeflex/src/variables';
@import 'node_modules/primeflex/src/grid';
@import 'node_modules/primeflex/src/formlayout';
@import 'node_modules/primeflex/src/display';
@import 'node_modules/primeflex/src/text';
@import 'node_modules/primeflex/src/flexbox/flexbox';
@import 'node_modules/primeflex/src/spacing';
@import 'node_modules/primeflex/src/elevation';

html {
  font-size: 16px;
  line-height: 1.1em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  background-color: $bgColor;
}

html, body {
  font-family: $font-family-base;
  color: $textColor;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.text-body {
  line-height: 1.5em;
  font-weight: 400;
}
.text-small-base {
  font-size: $font-size-small;
  line-height: 1.5em;
}

*:focus, *:active {
  outline: none !important;
}
h1, .h1 {
  font-weight: $headingFontWeight;
  font-size: 2.25rem;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: -0.02em;
  text-shadow: $textShadowBase;
}

h2, .h2 {
  font-weight: $headingFontWeight;
  font-size: 28px;
  line-height: 1.17em;
  text-align: left;
  letter-spacing: -0.02em;
  text-shadow: $textShadowBase;
}

.clickable, *[clickable] {
  cursor: pointer;
}
.icon-small {
  width: 14px;
}
.muted {
  opacity: 0.5;
}
.w-100 {
  width: 100%;
}
.fx-grow {
  flex-grow: 1;
}
//milestone list
.milestone-list-item {
  .milestone { width: 260px; }
  .state { width: 65px; }
  .predictors { width: 70px; }
  .action { width: 145px; }
}

